:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: dark; 
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; 
}

/* Pastikan elemen root React mengambil lebar penuh */
#root {
  width: 100%;
  margin: 0.5;
  padding: 0.5;
  text-align: left; 
}

.container {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 60px; 
  box-sizing: border-box; 
}
/* tombol button */
.btn {
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 700; 
  font-size: 14px;
  transition: all 0.3s ease-in-out; 
  display: inline-block; 
}

.btn-outline {
  background-color: transparent; 
  border: 2px solid var(--brand-gold); 
  color: var(--brand-gold); 
}

.btn-outline:hover {
  background-color: var(--brand-gold) !important; 
  color: #000000 !important; 
  box-shadow: 0 0 15px rgba(245, 158, 11, 0.5); 
  transform: translateY(-2px); 
}

.btn-gold {
  background-color: var(--brand-gold);
  color: #ffffff;
}

.btn-gold:hover {
  background-color: #FFB02E; 
  box-shadow: 0 0 15px rgba(245, 158, 11, 0.7);
  transform: translateY(-2px);
}

.btn-blue {
  background-color: var(--brand-blue);
  color: #ffffff;
}

.btn-blue:hover {
  background-color: #1e4bb5; 
  box-shadow: 0 0 15px rgba(14, 54, 149, 0.6);
  transform: translateY(-2px);
}
/* Footer */
footer a:hover {
  color: var(--brand-gold) !important;
  padding-left: 5px; 
}